.card{
    max-width: 300px;
    min-width: 300px;
    animation: slide-fade 0.2s;
}

img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}

li{
    margin-left: -40px;
}


@keyframes slide-fade {  
    from {        
        transform: translateY(300px);  
    }  
    to {    
        transform: translateY(0);  
    }
}