.card{
    max-width: 300px;
    min-width: 300px;
}

.card.animate {
  animation: slide-fade 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 1;
}

img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}

li{
    margin-left: -40px;
}


@keyframes slide-fade {  
    from {     
        opacity: 0;  
        transform: translateY(100px);  
    }  
    to {    
        opacity: 1;
        transform: translateY(0);  
    }
}