mat-card-content{
    color: #2c3e50;
    font-weight:900; 
}
.error{
    background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
    width: 230px;
    height: 100px;
    padding: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.error.animate {
  animation: slide-fade 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 1;
}

.error:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 35px rgba(102, 166, 255, 0.6);
}

@keyframes slide-fade {  
    from {   
        opacity: 0;     
        transform: translateY(100px);  
    }  
    to {    
        opacity: 1;
        transform: translateY(0);  
    }
}